.style{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 100vh;
    font-size: 2rem;
    font-weight: 3rem;
    padding: 10px;
    

}

.con{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.btn{
    background-color: rgb(48, 48, 248);
}

.card{
    width:400px;
    height:auto;
    


}

.down{
    gap: 10px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    top: 400px;
    
}

.thecard{
    background-image: url('../../image/deskbgin.jpg');
    height: 100vh;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}